<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSEtiquetasSoap">
          
       <!--   
       Eliminar comentario si el servicio a invocar es https
       <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51657/WSEtiquetas.asmx" binding="basicHttpBinding"
          bindingConfiguration="WSEtiquetasSoap" contract="ServiceReferenceWSEtiquetas.WSEtiquetasSoap"
          name="WSEtiquetasSoap" />
    </client>
  </system.serviceModel>
</configuration>